# pandas 명령어

## data frame 지정 후 생성
### 엑셀이 있는데 왜 굳이 pandas 이용해야 하나?
- 엑셀로 프로그램을 만들 수 없음
- pandas는 numpy를 사용 -> 수학적으로 변경, 계산할 때 엑셀보다 더 빠름
### data_frame.
- head()
    - 맨 위에서부터 괄호 안 숫자만큼 행을 출력
- tail(): 맨 아래에서부터 괄호 안 숫자만큼 행을 출력
### Serise: 데이터 프레임 내의 각 열의 컬럼들을 시리즈라고 부름. 데이터 프레임

In [20]:
# import pandas as pd
# data_frame = pd.read_csv(파일명.csv)
# data_frame
# 아직 파일명을 넣지 않아서 에러가 남

# 배운 내용 실습

In [21]:
import pandas as pd
data_frame = pd.read_csv('../../project/data/부산광역시_전체_세대_및_인구개황_20250523224123.csv')
data_frame

,시점,구·군별,읍면동수 (개),세대수 (세대),인구수 (명),시전체 인구에 대한 구성비 (%),면적 (㎢),인구밀도 (명/㎢)
0,2025.03,부산광역시,206,1573392,3321582,100.0,771.31,4306
1,2025.03,중구,9,23526,39921,1.2,3.01,13263
2,2025.03,서구,13,53679,105880,3.2,13.97,7579
3,2025.03,동구,12,47000,88054,2.7,10.12,8701
4,2025.03,영도구,11,53547,105731,3.2,14.20,7446
5,2025.03,부산진구,20,186462,366106,11.0,29.67,12339
6,2025.03,동래구,13,122741,276276,8.3,16.63,16613
7,2025.03,남구,17,119803,261120,7.9,26.82,9736
8,2025.03,북구,13,122255,268425,8.1,39.37,6818
9,2025.03,해운대구,18,169847,380785,11.5,51.52,7391
10,2025.03,사하구,16,140774,296986,8.9,41.78,7108
11,2025.03,금정구,16,104987,213737,6.4,65.28,3274
12,2025.03,강서구,9,62512,149881,4.5,182.16,823
13,2025.03,연제구,12,99396,212663,6.4,12.11,17561
14,2025.03,수영구,10,88096,173360,5.2,10.22,16963
15,2025.03,사상구,12,99546,204427,6.2,36.10,5663
16,2025.03,기장군,5,79221,178230,5.4,218.34,816

list와 Series로 DataFrame 만들기

In [22]:
s1 = pd.core.series.Series(["sora","roboko","mico","suisei","azki"])
s2 = pd.core.series.Series([1,2,3,4,5])
pd.DataFrame(data=dict(member=s1, order=s2))

   member  order
0    sora      1
1  roboko      2
2    mico      3
3  suisei      4
4    azki      5

In [23]:
print(pd.__version__)

2.2.2

- ## 만약 csv파일이 콤마(,)가 아닌 tab으로 구분되어 있을 경우 delimiter = '\t'를 붙인다.
- ## header가 없는 파일이면 header = None을 붙인다.
    - header가 없다라고 알려주는 명령어로 출력 형태는 column에 아무것도 없으므로 index 번호가 들어간다.
- ## header를 만들어주고 싶다면 아래와 같이 입력한다.
    - df.columns = ["a", "b", "c"]
- ## 두 작업을 동시에 하는 법
    - df = pd.read_csv("파일명.csv", header = None, names = ["a", "b", "c"])

In [24]:
# import pandas as pd
# df = pd.read_csv("파일명.csv", header = None, names = ["a", "b", "c"])